{% extends 'home.html' %}    
{% load static tailwind_tags %}

{% load crispy_forms_tags %}
{% block header %}
{% tailwind_css %}

{% include 'include/navbar2.html' %}
{% include 'include/messages.html' %}
{% endblock %}

{% block content %}

<div class="mb-3" style="display: flex;
justify-content: center; padding: 50px 0 0px 0; font-family: Arial ; font-weight: 600; ">

<form action="{% url 'shop:sell' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form| crispy}}
    <input type="submit" value="Submit" />
</form>


</div>
<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#id_description' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

{% endblock %}

